.header {
    background-color: #8f9dad; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    color: white; /* Color del texto */
}

.header-content {
    display: flex;
    justify-content: space-between; /* Espacia el logo y la navegación */
    align-items: center; /* Centra verticalmente los elementos */
}

/* .logo-image {
  width: 100px;
  height: auto;
} */



.navigation ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el espaciado interno */
    margin: 0; /* Elimina el margen */
    display: flex; /* Muestra los elementos en fila */
}

.navigation li {
    margin-left: 20px; /* Espacio entre los elementos de la navegación */
}

.navigation a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    font-size: 18px; /* Tamaño del texto de los enlaces */
}

.navigation a:hover {
    text-decoration: underline; /* Subraya al pasar el mouse */
}
