 <!-- <h1>Gestión de Órdenes de Trabajo</h1>

 <form (ngSubmit)="createOrUpdateOt()" *ngIf="selectedOt">

   <label for="tagSelect">TAG</label>
   <select id="tagSelect" (change)="onTagChange($event)">
     <option *ngFor="let tag of allTags" [value]="tag.final_tag">{{ tag.final_tag }}</option>
   </select>

   <label for="assetType">Tipo de Activo</label>
   <input id="assetType" [value]="selectedAssetTypeName" readonly>

   <label for="edifice">Edificio</label>
   <input id="edifice" [value]="selectedEdificeName" readonly>

   <label for="floor">Piso</label>
   <input id="floor" [value]="selectedFloorName" readonly>

   <label for="sector">Sector</label>
   <input id="sector" [value]="selectedSector" readonly>

   <label for="site">Sitio</label>
   <input id="site" [value]="selectedSite" readonly>

   <label for="taskType">Tipo de Tarea</label>
   <select [(ngModel)]="selectedOt.id_task_type" name="id_task_type">
     <option *ngFor="let taskType of taskTypes" [value]="taskType.id_task_type">{{ taskType.name }}</option>
   </select>

   <label for="taskList">Lista de Tareas</label>
   <input id="taskList" [value]="selectedTaskList" readonly>

   <label for="priority">Prioridad</label>
   <select [(ngModel)]="selectedOt.id_priority" name="id_priority">
     <option *ngFor="let priority of priorities" [value]="priority.id_priority">{{ priority.description }}</option>
   </select>

   <textarea placeholder="Observaciones" [(ngModel)]="selectedOt.observations" name="observations"></textarea>

   <button type="submit">{{ isEditing ? 'Actualizar' : 'Crear' }}</button>
 </form>

 <button (click)="resetForm()">Crear Nueva Orden</button> -->


 <h1>Gestión de Órdenes de Trabajo</h1>

 <form (ngSubmit)="createOrUpdateOt()" *ngIf="selectedOt">
   <label for="tagSelect">TAG</label>
   <select id="tagSelect" (change)="onTagChange($event)">
     <option *ngFor="let tag of allTags" [value]="tag.final_tag">{{ tag.final_tag }}</option>
   </select>

   <label for="assetType">Tipo de Activo</label>
   <input id="assetType" [value]="selectedAssetTypeName" readonly>

   <label for="edifice">Edificio</label>
   <input id="edifice" [value]="selectedEdificeName" readonly>

   <label for="floor">Piso</label>
   <input id="floor" [value]="selectedFloorName" readonly>

   <label for="sector">Sector</label>
   <input id="sector" [value]="selectedSector" readonly>

   <label for="site">Sitio</label>
   <input id="site" [value]="selectedSite" readonly>

   <label for="taskType">Tipo de Tarea</label>
   <select [(ngModel)]="selectedOt.id_task_type" name="id_task_type" (change)="onTaskTypeChange($event)">
     <option *ngFor="let taskType of taskTypes" [value]="taskType.id_task_type">{{ taskType.name }}</option>
   </select>

   <label for="taskList">Lista de Tareas</label>
   <ul *ngIf="selectedTaskListSteps.length > 0">
     <li *ngFor="let step of selectedTaskListSteps">{{ selectedTaskListSteps }}</li>
   </ul>

   <label for="task">Tareas</label>
   <input id="task" [value]="selectedTaskListSteps" readonly>

   <label for="priority">Prioridad</label>
   <select [(ngModel)]="selectedOt.id_priority" name="id_priority">
     <option *ngFor="let priority of priorities" [value]="priority.id_priority">{{ priority.description }}</option>
   </select>

   <textarea placeholder="Observaciones" [(ngModel)]="selectedOt.observations" name="observations"></textarea>

   <button type="submit">{{ isEditing ? 'Actualizar' : 'Crear' }}</button>
 </form>

 <button (click)="resetForm()">Crear Nueva Orden</button>
