<div class="edifice-container">
  <h1 class="title">Edificios</h1>

  <div *ngIf="message" class="message">
    {{ message }}
  </div>

  <div class="section-title">Lista de Edificios</div>
  <ul class="edifice-list">
    <li *ngFor="let edifice of edifices" class="edifice-item">
      <div class="edifice-info">
        <strong>{{ edifice.name }}</strong>
        <div>{{ edifice.street }}, {{ edifice.number }}</div> <!-- Mostrar directamente street y number -->
      </div>
      <div>
        <button class="edit-button" (click)="getEdificeById(edifice.id_edifice)">Editar</button>
        <button class="delete-button" (click)="deleteEdifice(edifice.id_edifice)">Eliminar</button>
      </div>
    </li>
  </ul>

  <div class="create-button-container">
    <button class="create-button" (click)="openCreateForm()">Crear Nuevo Edificio</button>
  </div>

  <div *ngIf="showForm" class="form-container">
    <h2 class="form-title">{{ selectedEdifice ? 'Editar Edificio' : 'Crear Nuevo Edificio' }}</h2>

    <form [formGroup]="edificeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input id="name" formControlName="name" class="form-input" />
      </div>
      <!-- <div class="form-group">
        <label for="num_tag">Número de Tag</label>
        <input id="num_tag" formControlName="num_tag" class="form-input" />
      </div> -->
      <div class="form-group">
        <label for="street">Calle</label>
        <input id="street" formControlName="street" class="form-input" />
      </div>
      <div class="form-group">
        <label for="number">Numero</label>
        <input id="number" formControlName="number" class="form-input" />
      </div>
      <div class="form-group">
        <label for="id_available">Disponibilidad</label>
        <input id="id_available" formControlName="id_available" class="form-input" />
      </div>

      <div class="form-buttons">
        <button type="submit" class="submit-button" [disabled]="!edificeForm.valid">Guardar</button>
        <button type="button" class="clear-button" (click)="clearForm()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
